.search-bar {
  margin: 20px 0;

  .Select-control {
    border-radius: 0px;
  }

  .add-city {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px;
    font-size: 30px;
  }

  .slider-title {
    font-size: 12px;
  }

  .slider-value {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
  }

  .rc-slider {
    .rc-slider-track {
      background-color: #676767;
    }

    .rc-slider-handle {
      border-color: #676767;
    }
    .rc-slider-handle:active {
      box-shadow: 0 0 5px #676767;
    }
  }
}
