.search-bar {
  margin: 20px 0;

  .Select-control {
    border-radius: 0px;
  }

  .add-city {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px;
    font-size: 30px;
  }
}
